/* Define a CSS class for dark mode */
body.dark-mode .content{
    background-color: #333 !important; /* Dark background color */
    color: #fff !important; /* Light text color */
}

/* Modify link styles for better visibility in dark mode */
body.dark-mode a {
    color: #00f !important; /* Blue link color in dark mode */
}

